.wrapper-canvas {
  position: relative;
  height: 150px;
  width: 1px;
  margin: 0 auto;
}

.canvas {
  position: absolute;
  left: -98px;
}

.button {
  position: absolute;
  width: 176px;
  top: 23px;
  left: -83px;
  color: #dedede;
  letter-spacing: 8px;
  font-weight: bold;
  z-index: 1;
}