.wrapper {
  width: 50vw;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}